.btn-danger{
   margin-top: 30px;
}

#btn-modal{
    margin-top: 30px;
}
#liveToastBtn{
    margin-top: 30px;
}
#imgCanvas{
    border: 1px solid #000;
    margin-left: 10%;

}

#graphCanvas{
    border: 1px solid #000;
    margin-left: 10%;

}

